{% extends 'rango/base.html' %}

{% block body_block %}
<div class="hero-unit">
	{% if user.is_authenticated %}
		<h1>Rango says...hello {{ user.username }}!</h1>
	{% else %}	
		<h1>Rango says...hello world!</h1>
	{% endif %}
	{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
		
	<strong>Top 5 Most Viewed Pages</strong>
	{% if pages %}
		<ul>
			{% for page in pages %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>No pages have been viewed.</strong>
	{% endif %}
</div>

{% endblock %}
		
